* {
    margin: 0;
    padding: 0;
}

body {
    background: fff;
    color: #2f2bbc;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    /*ancho máximo de la página*/
    margin: 1px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*Cant y % de columnas en la que divido la pagina*/
    /*justify-content: space-evenly;*/
    /*Justificación del contenido de columnas*/
    grid-template-rows: 15% 5% 23% 50% 5%;
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    grid-template-areas: 'encabezado encabezado encabezado'
        'frase frase frase'
        '. especialidades .'
        '. especialidades .'
        'pie pie pie';
}

/* Header*/
/*Titulo: La Clinica*/
.contenedor .encabezado {
    grid-area: encabezado;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    font-size: 1.2em;
}

.contenedor .logo {
    padding-top: 0.55%;
    padding-left: 0.5%;
    float: left;
}

.contenedor .cartel {
    padding-top: 1%;
    padding-left: 73%;
}

.contenedor .navegador {
    padding-left: 76%;
}

/* Frase: Servicios Medicos*/
.contenedor .frase {
    grid-area: frase;
    background: #fff;
    text-align: center;
    font-size: 1.4em;
}

/*Para cambiar el color de "Servicios Medicos"*/
.contenedor .frase span {
    color: #b70e21
}

.contenedor .especialidades {
    grid-area: especialidades;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*Cant y % de columnas en la que divido la pagina*/
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    background-color: black;
}

.contenedor .especialidades .detalle {
    background-color: white;
    padding-top: 50%;
    color: black;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.contenedor .especialidades .tipo_esp{
margin-top: 40%;
}



/*Footer*/
.contenedor .pie {
    grid-area: pie;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5%;
}


/* Medias queries - Pantalla para tablet*/
@media screen and (max-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-template-areas:
            'encabezado encabezado encabezado'
            'frase frase frase'
            'especialidades especialidades especialidades'
            'pie pie pie';
    }

    .contenedor .logo {
        padding-top: 0.1%;
        padding-left: 0.5%;
        float: left;
    }

    .contenedor .cartel {
        padding-top: 2%;
        padding-left: 60%;
    }

    .contenedor .navegador {
        padding-left: 65%;
    }   

    .contenedor .especialidades .detalle {
        background-color:white;
        padding-top: 50%;
        color: black;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
    }

    .contenedor .especialidades .tipo_esp{
        margin-top: 10%;
        }
}

/*Pantalla para celular*/
@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas:
            'encabezado encabezado'
            'frase frase'
            '. .'
            'pie pie';
    }
}