* {
    margin: 0;
    padding: 0;
}

body {
    background: fff;
    color: #2f2bbc;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    /*ancho máximo de la página*/
    margin: 1px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "encabezado encabezado"
        "frase frase"
        "contact-form contact-info"
        "pie pie";
}

/* Header*/


/*Titulo:contacto*/

.contenedor .encabezado {
    grid-area: encabezado;
    background: linear-gradient(to right,rgb(0,66,88)45%,rgb(37,44,44));
    color: white;
    font-size: 1.2em;    
}

.contenedor .encabezado .logo {
    position: relative;
    float: left;
    margin-top: 0.6%;
    margin-left: 0.6%;
}

.contenedor .encabezado .cartel {
    position: relative;
    margin-top: 1%;
    margin-left: 84%;
}

.contenedor .encabezado .navegador {
    position: relative;
    margin-top: 1%;
    margin-left: 71%;
}

/* Frase: mandanos un mensaje*/
.contenedor .frase {
    grid-area: frase;
    background: #fff;
    text-align: center;
    font-size: 1.4em;    
}

/*Para cambiar el color de "mensaje"*/

.contenedor .frase span {
    color: #b70e21
}

/* Formulario de contacto*/

.contenedor .contact-form {
    grid-area: contact-form;
    background-color: #fff;
    font-size: 1em;
    padding-right: 3em;
    padding-left: 12em;
    padding-top: 2em;
}

.contenedor .contact-form form p {
    margin: 0;
    padding-top: 1em;
}

.contenedor .contact-form form input,
.contenedor .contact-form form textarea {
    width: 100%;
    padding: 0.6em 0 0.6em 0.5em;
    border: none;
    border: 1px solid rgb(199, 0, 57);
    border-radius: 10px;
}

/* Botón del formulario de contacto*/

.contenedor .contact-form form button {
    background: #0f54b3;
    color: white;
    font-size: 0.8em;
    border: 0;
    text-transform: uppercase;
    padding: 0.8em 2em;
    border-radius: 10px;

}

.contenedor .contact-form p.boton {
    text-align: right
}

.contenedor .contact-form form button:hover,
.contenedor .contact-form form button:focus {
    background: #59ABB3;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Información de contacto */

.contenedor .contact-info {
    grid-area: contact-info;
    background-color: #fff;
    font-size: 1em;
    padding: 2em 6em;
}

.contenedor .contact-info h3,
.contenedor .contact-info ul,
.contenedor .contact-info p {
    text-align: left;
}

.contenedor .contact-info h3 {
    padding-bottom: 2em;
}

.contenedor .contact-info ul {
    list-style: none;
    padding: 0;
}

.contenedor .contact-info ul li {
    padding: .4em;
}

/*Footer*/


/* Medias queries - Pantalla para tablet*/

@media screen and (max-width: 1000px) {
    .contenedor {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "encabezado encabezado"
            "frase frase"
            "contact-form contact-form"
            "contact-info contact-info"
            "pie pie";
    }

    .contenedor .contact-form {
        padding-right: 5em;
        padding-left: 5em;
        padding-top: 2em;
    }

    .contenedor .contact-info {
        padding: 2em 12em;
    }  

    .contenedor .frase {
        font-size: 1.2em;
        padding-top: 2em;
    }

    .contenedor .contact-form form button {
        padding: 0.4em 1em;
        border-radius: 10px;
    }

    .contenedor .encabezado .logo {
        position: relative;
        float: left;
        margin-top: 0.6%;
        margin-left: 0.6%;
    }
    
    .contenedor .encabezado .cartel {
        position: relative;
        margin-top: 1%;
        margin-left: 77%;
    }
    
    .contenedor .encabezado .navegador {
        position: relative;
        margin-top: 1%;
        margin-left: 57%;
    }

}


/*Pantalla para celular*/

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: 
            "encabezado encabezado"
            "frase frase"
            "contact-form contact-form"
            "contact-info contact-info"
            "pie pie";
    }

    .contenedor .contact-form {
        font-size: 0.7em;
        padding-right: 4em;
        padding-left: 4em;
        padding-top: 2em;
    }

    .contenedor .contact-info {
        padding: 2em 4em;
        font-size: 0.8em;
    }

    .contenedor .encabezado {
        font-size: 0.8em;
        padding: 1.1em 3em;
    }

    .contenedor .frase {
        font-size: 0.9em;
        padding-top: 2em;
    }
}