* {
    margin: 0;
    padding: 0;
}

body {
    background: fff;
    color: #2f2bbc;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    /*ancho máximo de la página*/
    margin: 1px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*Cant y % de columnas en la que divido la pagina*/
    /*justify-content: space-evenly;*/
    /*Justificación del contenido de columnas*/
    grid-template-rows: 15% 5% 23% 52% 5%;
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    grid-template-areas: 'encabezado encabezado encabezado'
        'frase frase frase'
        'frame frame frame'
        'agenda agenda agenda'
        'pie pie pie';
}

/* Header*/
/*Titulo: Reserva de turnos*/
.contenedor .encabezado {
    grid-area: encabezado;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    font-size: 1.2em;
}

.contenedor .logo {
    padding-top: 0.55%;
    padding-left: 0.5%;
    float: left;
}

.contenedor .cartel {
    padding-top: 1%;
    padding-left: 55%;
}

.contenedor .navegador {
    padding-left: 69%;
}

/* Frase: Sistema de reserva de turnos*/
.contenedor .frase {
    grid-area: frase;
    background: #fff;
    text-align: center;
    font-size: 1.4em;
}

/*Para cambiar el color de "resrva de turnos"*/
.contenedor .frase span {
    color: #b70e21
}

/*Estilo del frame de los selectores*/
.contenedor .frameselector {
    grid-area: frame;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    width: 55%;
    max-width: 750px;
}

/*Estilo para etiquetas de desplegable*/
.contenedor .label {
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
}

/*Estilo para los selectores*/
.contenedor .select {
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
}

/*Estilo para el boton de enviar*/
.contenedor .boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .input {
    margin-right: 20px;
}

.contenedor .agenda {
    grid-area: agenda;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*Cant y % de columnas en la que divido la pagina*/
    grid-template-rows: repeat(5, 1fr);
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    background-color: black;
}

.contenedor .agenda .turno_ocupado {
    background: linear-gradient(to right, rgb(20, 109, 139)45%, rgb(13, 52, 77));
    padding: 9%;
    color: red;
    text-align: center;
}

.contenedor .agenda .turno_libre {
    background: linear-gradient(to right, rgb(20, 109, 139)45%, rgb(13, 52, 77));
    padding: 9%;
    color: greenyellow;
    text-align: center;
}


.contenedor .agenda .especialidad {
    background-color: white;
    padding: 9%;
    color: black;
    text-align: center;
    font-weight: bold;
}

/*Footer*/
.contenedor .pie {
    grid-area: pie;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5%;
}


/* Medias queries - Pantalla para tablet*/
@media screen and (max-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        grid-template-areas:
            'encabezado encabezado'
            'frase frase'
            'frame frame'
            'agenda agenda'
            'pie pie';
    }

    .contenedor .logo {
        padding-top: 0.1%;
        padding-left: 0.5%;
        float: left;
    }

    .contenedor .cartel {
        padding-top: 2%;
        padding-left: 35%;        
    }

    .contenedor .navegador {
        padding-left: 55%;
    }
}

/*Pantalla para celular*/
@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas:
            'encabezado encabezado encabezado'
            'frase frase frase'
            'frame frame frame'
            'agenda agenda agenda'
            'pie pie pie';
    }
}