* {
    margin: 0;
    padding: 0;
}

body {
    background: fff;
    color: #2f2bbc;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    /*ancho máximo de la página*/
    margin: 1px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*Cant y % de columnas en la que divido la pagina*/
    /*justify-content: space-evenly;*/
    /*Justificación del contenido de columnas*/
    grid-template-rows: 15% 5% 65% 5%;
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    grid-template-areas: 'encabezado encabezado encabezado'
        'frase frase frase'
        'descripcion descripcion lat_clinica'
        'descripcion descripcion lat_clinica'
        'pie pie pie';
}

/* Header*/
/*Titulo: La Clinica*/
.contenedor .encabezado {
    grid-area: encabezado;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    font-size: 1.2em;
}

.contenedor .encabezado .logo {
    position: relative;
    float: left;
    margin-top: 0.6%;
    margin-left: 0.6%;
}

.contenedor .encabezado .cartel {
    position: relative;
    margin-top: 1%;
    margin-left: 85%;
}

.contenedor .encabezado .navegador {
    position: relative;
    margin-top: 1%;
    margin-left: 71%;
}

/* Frase: La Clíninca*/
.contenedor .frase {
    grid-area: frase;
    background: #fff;
    text-align: center;
    font-size: 1.4em;
}

/*Para cambiar el color de "La Clínica"*/
.contenedor .frase span {
    color: #b70e21
}

/*Para los textos de La Clinica*/
.contenedor .descripcion {
    grid-area: descripcion;
    color: gray;
    margin-top: 1%;
}

.contenedor .lista {
    padding-bottom: 10px;
}

.contenedor .lat_clinica {
    grid-area: lat_clinica;

}

.contenedor .img_lat {
    margin-top: 20%;
    max-width: 100%;
    height: 75%;
}


/*Footer*/
.contenedor .pie {
    grid-area: pie;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5%;
}


/* Medias queries - Pantalla para tablet*/
@media screen and (max-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'encabezado'
            'frase'
            'descripcion lat_clinica'
            'pie';
    }

    .contenedor .encabezado .logo {
        position: relative;
        float: left;
        margin-top: 0.6%;
        margin-left: 0.6%;
    }

    .contenedor .encabezado .cartel {
        position: relative;
        margin-top: 1%;
        margin-left: 61%;
    }

    .contenedor .encabezado .navegador {
        position: relative;
        margin-top: 1%;
        margin-left: 59%;
    }

    .contenedor .descripcion {
        grid-area: descripcion;
        padding-left: 3%;
        color: gray;
    }

    .contenedor .img_lat {
        padding-top: 10%;
        max-width: 100%;
        height: auto;
    }
}

/*Pantalla para celular*/
@media screen and (max-width: 450px) {
    .contenedor {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            'encabezado'
            'frase'
            'descripcion'
            'pie pie';
    }

    .contenedor .img_lat {
        display: none;
    }

}