* {
    margin: 0;
    padding: 0;
}

body {
    background: fff;
    color: #2f2bbc;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    /*ancho máximo de la página*/
    margin: 1px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*Cant y % de columnas en la que divido la pagina*/
    /*justify-content: space-evenly;*/
    /*Justificación del contenido de columnas*/
    grid-template-rows: 15% 5% 75% 5%;
    align-content: center;
    /*ALineación de contenido de filas*/
    column-gap: 5px;
    /*Separación entre columnas*/
    row-gap: 5px;
    /*Separación entre filas*/
    grid-template-areas: 'encabezado encabezado encabezado'
        'frase frase frase'
        'izquierda centro centro'
        'pie pie pie';
}

/*Para el background y generales del HEADER*/
.contenedor .encabezado {
    grid-area: encabezado;
    background: linear-gradient(to right,rgb(0,66,88)45%,rgb(37,44,44));
    color: white;
    font-size: 1.2em;    
}

.contenedor .encabezado .logo {
    position: relative;
    float: left;
    margin-top: 0.6%;
    margin-left: 3%;

}

.contenedor .encabezado .cartel {
    position: relative;
    margin-top: 1%;
    margin-left: 65%;
}

.contenedor .encabezado .navegador {
    position: relative;
    margin-top: 0%;
    margin-left: 65%;
}

/* Frase: Clinica codo a codo*/
.contenedor .frase {
    grid-area: frase;
    background: #fff;
    text-align: center;
    font-size: 1.4em;
    padding-top: 2em;
}

/*Para cambiar el color de "Codo a codo"*/
.contenedor .frase span {
    color: #b70e21
}

.contenedor .centro {
    grid-area: centro;
}

.contenedor .izquierda {
    grid-area: izquierda;
    margin-left:6%;
}

/* Para la API*/
.contenedor .izquierda .api {
    color: black;
    position: relative;
    margin-left: 1%;
    margin-top: 40%;
}

/*cambiar imagenes de presentacion*/
.contenedor .centro .carousel-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-left: 3.5%;
    margin-top: 13%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s;
}


/*Footer*/
.contenedor .pie {
    grid-area: pie;
    background: linear-gradient(to right, rgb(0, 66, 88)45%, rgb(37, 44, 44));
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5%;
}


/* Medias queries - Pantalla para tablet*/
/*@media screen and (max-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'encabezado'
            'frase'
            'izquierda centro'
            'pie';
    }*/

@media screen and (max-width: 1000px) {
    .contenedor {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "encabezado encabezado"
            "frase frase"
            "izquierda centro"
            "pie pie";
        }

    .contenedor .encabezado .logo {
        position: relative;
        float: left;
        margin-top: 1%;
        margin-left: 3%;
        }
    
    .contenedor .encabezado .cartel {
        position: relative;
        margin-top: 2%;
        margin-left: 69%;
        }

    .contenedor .encabezado .navegador {
        position: relative;
        margin-top: 2%;
        margin-left: 46%;
        }
    
    .contenedor .izquierda .api {
        color: black;
        position: relative;
        margin-left: 1%;
        margin-top: 12%;
        margin-bottom: 20%;
        }
    

    /*cambiar imagenes de presentacion*/
    .contenedor .centro .carousel-container {
        width: 300px;
        height: 200px;
        overflow: hidden;
        position: relative;
        margin-left: 40%;
        margin-top: 10%;
    }

    .carousel-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: opacity 1s;
    }

}
